.popupBox{
    width: 400px;
    background: linear-gradient(90.21deg, #111111 -5.91%, #01182b 111.58%);
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #fef4f5;
    z-index: 999999;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0px 0px 20px gray;
  }
  
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popupBox img{
    width: 100px !important;
    margin-top: -50px;
  }
  .popupBox h2{
    font-size: 38px;
    font-weight: 500;
    margin: 10px 0 10px;
  }
  .popupBox p{
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  .popupBox button.cancel{
    width: 40%;
    margin-top: 30px;
    padding: 10px 0;
    background: rgb(60, 194, 60);
    color: white;
    font-weight: bold;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }


  @media only screen and (max-width: 600px){
    .popupBox{
      width: 330px;
      }
  }