.footer{
    position: relative;
    background: rgb(115, 123, 139);
    width: 100%;
    min-height: 100px;
    padding: 20px 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerName{
    color: #01182b;
}

.footerMenu{
    display: grid !important;
    grid-template-columns: auto auto auto;
    gap: 5px 30px;
}

ul.footerMenu{
    padding-left: 0px !important;
}

.footerMenu li{
  list-style: none;
  transition: all 0.5s;
}

.footerMenu li::before{
    content: ">";
    font-weight: bold;
    color: white;
}

.positionFooterSocials{
    margin-bottom: 25px;
    /* margin-left: -3px; */
}

.footerMenu li a{
  font-size: 1em;
  color: white;
  text-decoration: none;
  margin: 10px 10px;
}

.footerMenu li:hover{
    margin-left: 5px;
}

p.footerCopyRight{
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 1.1em
}



.wave{
    position: absolute;
    top: -100px;
    left: 0;
    height: 100px;
    width: 100%;
    background: url(../../assets/img/waveImage.png);
    background-size: 1000px 100px;
}

.wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

.wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}