/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {  
  font-weight: 400;
  overflow-x: hidden;
  overflow: overlay;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

/* custom scrollbar */

body::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-image: url('./assets/img/footer-bg.png');
  /* background-position: center;
  background-size: cover; */
  background-repeat: no-repeat;
  border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100% !important;
  }
}

@media (min-width: 992px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
}

}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 100% !important;
}

}

@media (min-width: 576px) {
.container, .container-sm {
    max-width: 100% !important;
}
}


@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

